# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore package-lock.json for npm
package-lock.json
.env




# Ignore IDE-specific files and folders
.idea/
.vscode/

# Ignore operating system files
.DS_Store
Thumbs.db
